<h4> Title: <%= @movieinfo["Title"] %></h4>
<h5>Year: <%= @movieinfo["Year"] %></h5>
<h5>Rating: <%= @movieinfo["Rated"] %></h5>
<h5>Released: <%= @movieinfo["Released"] %></h5>
<h5>Runtime:<%= @movieinfo["Runtime"] %></h5>
<h5>Genre: <%= @movieinfo["Genre"] %></h5>
<h5>Tomatometer: <%= @movieinfo["tomatoMeter"] %></h5>
<img src=<%=@movieinfo["Poster"]%> >

